---
import dayjs from "dayjs";
import { DATE_FORMAT } from "../config";
import { Icon } from "astro-icon/components";
import HeadingLink from "./widgets/HeadingLink.astro";
import ActionButtons from "./widgets/ActionButtons.astro";
import Card from "./temple/Card.astro";
import Content from "./render/Content.astro";
const { id, title, block, pubDate } = Astro.props;
const displayDate = dayjs(pubDate).format(DATE_FORMAT);
---

<Card>
  <article id={id} class="relative w-full h-full p-6 flex flex-col justify-between">
    <span class="flex items-center text-neutral-content gap-2"
      ><Icon name="material-symbols:calendar-today-outline-rounded" />{displayDate}</span
    >
    <HeadingLink slug={id} path="post" title={title} />
    <div class="article">
      <Content blocks={block} layout="article" />
    </div>
    <ActionButtons />
  </article>
</Card>
